* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1 {
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 44px;
}

.container_header {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
.container_header img {
    margin-bottom: 30px;
    width: 125px;
}
.container_header p {
    display: inline-block;
    width: 700px;
    margin-bottom: 50px;
    font-size: 20px;
}

.container_button button {
    font-family: "Bai Jamjuree", sans-serif;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    margin: 0 10px;
    border-bottom-style: solid;
}
.button_ios {
    background-color: var(--strong-Cyan);
    border-bottom-color: hsl(171, 70%, 32%);
    border-bottom-width: 3px;
}
.button_mac {
    background-color: var(--Light-Blue);
    border-bottom-color: hsl(233, 67%, 56%);
    border-bottom-width: 3px;
}
.button_ios:hover {
    background-color: hsl(171, 63%, 64%);
    cursor: pointer;
}
.button_mac:hover {
    background-color: hsl(233, 85%, 73%);
    cursor: pointer;
}

article {
    text-align: center;
    margin-bottom: 100px;
}

h2 {
    color: var(--Dark-Grayish-Blue);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.p_one {
    width: 700px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 60px;
}
.container_article1 {
    display: flex;
    justify-content: center;

}
.container_article1 img {
    margin-left: -200px;
    margin-right: 60px;
    width: 905px;
}
.container_list {
    margin-right: 100px;
    margin-left: 80px;
    text-align: left;
    align-self: center;
}
.container_list p {
    margin-bottom: 50px;
    width: 350px;
    line-height: 30px;
}
h3 {
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
p {
    color: var(--Grayish-Blue);
    font-weight: 400;
}

.article_two p {
    width: 700px;
    font-size: 18px;
    margin: 0px auto 60px auto;
}

.p_three {
    width: 700px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 60px;
}
.container_tools {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.container_tools div {
    width: 350px;
    margin: 20px;
}
.container_tools p {
    line-height: 30px;
}
.container_tools img {
    margin-bottom: 50px;
}
.container_logos {
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.container_logos img {
    height: min-content;
}
.article_four p {
    display: inline-block;
    width: 700px;
    margin-bottom: 50px;
    font-size: 18px;
}

footer {
    height: 300px;
    background-color: hsl(206, 26%, 95%);
}
.article_five {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 80px;
}
ol {
    width: 600px;
    list-style: none;
    display: grid;
    grid: 70px 30px / auto-flow 30%;
    justify-items: left;
}
li a {
    color: var(--Dark-Grayish-Blue);
    font-size: 20px;
    text-decoration: none;
}
li a:hover {
    color: var(--strong-Cyan);
}
.redes svg {
    margin: 5px 20px;
}
path {
    fill: var(--Dark-Grayish-Blue);
}
path:hover {
    fill: var(--strong-Cyan);
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .container_header {
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .container_header img {
        margin: 0 auto 30px auto;
    }
    .container_header p {
        width: 600px;
        margin: 0 auto 50px auto;
    }
    h1 {
        margin: 0 auto 20px auto;
        width: 550px;
    }

    h2 {
        width: 550px;
        margin: 0 auto 20px auto;
    }
    .p_one {
        width: 600px;
    }
    .container_article1 {
        flex-direction: column;
    }
    .container_article1 img {
        width: 80%;
        margin: 0 auto 50px auto;
    }
    .container_list {
        text-align: center;
    }
    
    .article_two img {
        width: 80%;
    }
    .article_two p {
        width: 600px;
    }
    .p_three {
        width: 600px;
    }
    .container_tools {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .container_tools div {
        margin: 0 auto 30px auto;
    }
    .container_logos {
        flex-direction: column;
        align-items: center;
    }
    .container_logos img {
        margin-bottom: 60px;
    }
    .article_four p {
        width: 600px;
    }
    footer {
        height: 600px;
    }
    .article_five {
        flex-direction: column;
    }
    .logo {
        margin-bottom: 50px;
    }
    ol {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    li {
        margin-bottom: 20px;
    }
}