* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1 {
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 44px;
}

.container_header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.container_header img {
    margin-bottom: 30px;
    width: 125px;
}
.container_header p {
    display: inline-block;
    width: 700px;
    margin-bottom: 30px;
    font-size: 20px;
}

article {
    text-align: center;
    margin-bottom: 100px;
}

h2 {
    color: var(--Dark-Grayish-Blue);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.p_one {
    width: 700px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 60px;
}
.container_article1 {
    display: flex;
    justify-content: center;

}
.container_article1 img {
    margin-left: -200px;
    margin-right: 60px;
}
.container_list {
    margin-right: 100px;
    margin-left: 60px;
    text-align: left;
    align-self: center;
}
.container_list p {
    margin-bottom: 50px;
    width: 350px;
    line-height: 30px;
}
h3 {
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
p {
    color: var(--Grayish-Blue);
    font-weight: 400;
}

footer {
    background-color: hsl(206, 26%, 95%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}